{% extends "_base/Views/v_main.twig" %}


{% block menu_list %}
    <li>
        <a class="main-menu__item" href="index.html">Главная</a>
      </li>
      <li>
        <a class="main-menu__item" href="products.html">Товары</a>
      </li>
      <li>
        <a class="main-menu__item" href="orders.html">Заказы</a>
      </li>
      <li>
        <a class="main-menu__item" href="#">Выйти</a>
      </li>
{% endblock %}