RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=302]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

Options -Indexes

<FilesMatch "\.(php|twig|log)$">
	Deny from all
</FilesMatch>

<FilesMatch "^index.(php)$">
	Allow from all
</FilesMatch>


<FilesMatch "^art-.+\.(php)$">
	Allow from all
</FilesMatch>