{# TODO required #}

<main class="page-authorization">
  <h1 class="h h--1">Авторизация</h1>
  <form class="custom-form" id='login-form'>
    <input name="login" class="custom-form__input"  placeholder='Логин'>
    <input name="password" class="custom-form__input" placeholder='Пароль'>
    <button class="button" type="submit">Войти</button>
  </form>
  <a class='toggle_auth' href="{{ constant("BASE_URL")}}/register">Нет аккаунта? Зарегистрироваться</a>
</main>