@use "sass:math";

@import './_variables';
@import './modules/_mixins';
@import './modules/_fonts';
@import './modules/_animations';
@import './modules/_null';
@import './modules/_base';
@import './modules/_popup';



body {
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}



.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаємо футер
	> main {
		flex: 1 1 auto;
	}
}


[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		margin: 0 auto;
	}
	@if ($containerPadding>0) {
		padding: 0 rem(math.div($containerPadding, 2));
	}
}





@import './_header';
@import './_footer';

@import './modules/catalog';