.promo {
    color: #fff;
    @media (min-width: em(992)) {
        margin-top: rem(20);
    }
    // .promo__container
    &__container {
        @media (max-width: em(992)) {
            padding: 0;
        }
    }
    &__wrapper {
        background: url("../img/intro/promo.jpg") center center / cover no-repeat;
        @include adaptiveValue("min-height", 300, 150);
        @include adaptiveValue("padding", 60, 15);
    }
    // .promo__title
    &__title {
        font-size: rem(60);
        font-weight: 700;
        margin-bottom: rem(20);
        @media (max-width: em(600)) {
            font-size: rem(40);
        }
    }
    // .promo__label
    &__label {
        font-size: rem(40);
        font-weight: 700;
        @media (max-width: em(600)) {
            font-size: rem(25);
        }
    }
}

.catalog {
    margin-top: rem(70);
    @media (max-width: em(992)) {
        margin-top: rem(30);
    }
    // .catalog__container
    &__container {
        display: grid;
        gap: rem(20);
        @media (min-width: em(992)) {
            gap: rem(60);
            grid-template-columns: 300px 1fr;
        }
    }
    // .catalog__filter
    &__filter {
    }
    // .catalog__list
    &__list {
    }
}
.filter {
    align-self: start;
    background: $grayColor;
    padding: rem(20);
    border-radius: rem(10);
    // .filter__form
    &__form {
    }
    // .filter__block
    &__block {
        margin-bottom: rem(30);
    }
    // .filter__title
    &__title {
        font-size: rem(25);
        font-weight: 700;
        margin-bottom: rem(15);
    }
    // .filter__list
    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: rem(8);
            }
        }
    }
    // .filter__list-item
    &__list-item {
        display: block;
        font-size: rem(20);
        &._active {
            color: $redColor;
        }
    }
    // .filter__range
    &__range {
    }
    // .filter__checkbox
    &__checkbox {
    }

    .button {
        width: 100%;
    }
}

.range {
    // .range__info
    &__info {
    }
    // .range__line
    &__line {
        margin-top: rem(15);
        width: 95%;
    }
    // .range__res
    &__res {
        display: flex;
        justify-content: space-between;
        margin-top: rem(15);
    }
    // .range__res-item
    &__res-item {
        font-size: rem(15);
    }

    .noUi-handle {
        width: 20px;
        height: 20px;
        background: $redColor;
        border-radius: 50%;
        box-shadow: none;
        cursor: pointer;
        &::before,
        &::after {
            display: none;
        }
    }

    .noUi-horizontal {
        height: 10px;
    }

    input {
        display: none;
    }
}

.checkbox {
    position: relative;
    &:not(:last-child) {
        margin-bottom: rem(5);
    }
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus + .checkbox__label:before {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
        }
        &:checked + .checkbox__label:before {
            filter: grayscale(0);
        }
        &:checked + .checkbox__label {
            color: $redColor;
        }
    }

    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(10);
        &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: url("../img/done.svg") center center / cover no-repeat;
            filter: grayscale(100%);
            transition: all 0.3s ease 0s;
        }
    }
    // .checkbox__text
    &__text {
    }
}

.list-catalog {
    &__select-wrapper {
        position: relative;
        &::after {
            content: "▼";
            font-size: rem(14);
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 10px;
            cursor: not-allowed;
        }
    }
    // .list-catalog__sorting
    &__sorting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(213, 213, 213, 0.578);
        padding: rem(10);
        border-radius: rem(10);
        @media (max-width: em(420)) {
            flex-direction: column;
            gap: rem(15);
        }
        select {
            padding: rem(10) rem(70) rem(10) rem(10);
            border: 1px solid #000;
            font-size: rem(17);
            appearance: none;
        }
    }
    // .list-catalog__sorting-res
    &__sorting-res {
        .res-sort {
        }
    }
    // .list-catalog__items
    &__items {
        margin-top: rem(20);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(25);
        @media (max-width: em(1250)) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: em(600)) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: em(350)) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .list-catalog__item
    &__item {
    }
}

.item-catalog {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 25px rgba(186, 186, 186, 0.3);
    cursor: pointer;
    @media (any-hover: hover) {
        &:hover {
            > .item-catalog__image {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    &__image {
        position: relative;

        overflow: hidden;
        &::before {
            content: "Купить";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: rem(23);
            font-weight: 700;
            background: rgba(0, 0, 0, 0.595);
            transition: all 0.3s ease 0s;
            opacity: 0;
            visibility: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__wrapper {
        padding: 10px;
    }
    &__name {
        font-size: rem(20);
    }
    &__price {
        font-size: rem(20);
    }
}

.paginator {
    margin-top: rem(50);
    display: flex;
    gap: rem(15);
    li {
        width: 30px;
        height: 30px;
    }
    // .paginator__item
    &__item {
        font-weight: 700;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $grayColor;
        color: rgb(52, 52, 52);
        border-radius: 50%;
        &._active {
            background: rgb(52, 52, 52);
            color: $grayColor;
        }
    }
}
