<div class="main-page">
    <h1 class='main-page__title'>Fashion - одежда по любым вкусам</h1>
    <h3 class='main-page__subtitle'>Добро пожаловать в наш магазин</h3>
    <div class="main-page__image"><img src="{{ constant('BASE_URL')}}/assets/img/bg.jpg" alt=""></div>
    <div class="main-page__sale">Глобальная распродажа начинается 02.10 в 00:00</div>
    <div class="main-page__subsale">Успей закупиться по лучшим ценам</div>
</div>